
{
    "trailingComma": "es5",
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "bracketSpacing": true,
    "jsxSingleQuote": false,
    "endOfLine": "lf",
    "singleAttributePerLine": true,
    "printWidth": 90


}
