:root {
    --screen-xs: 400px;
    --screen-sm: 576px;
    --screen-md: 768px;
    --screen-lg: 992px;
    --screen-xlg: 1200px;
}

input[type='text'],
textarea {
    padding: 5px 10px;
}

.w-100 {
    width: 100%;
}

.c-xs-min {
    min-width: var(--screen-xs);
}
.c-xs-max {
    max-width: var(--screen-xs);
}

.c-sm-min {
    max-width: var(--screen-sm);
}
.c-sm-max {
    max-width: var(--screen-sm);
}

.c-md-min {
    max-width: var(--screen-md);
}
.c-md-max {
    max-width: var(--screen-md);
}

.line-break {
    width: 80%;
    height: 0%;
    border-top: 1px black solid;
    margin: var(--len-40) auto;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
