/*
[Notes - Greg]
- Most css styles here are to reset and normalize across browsers.
- A combination from the packages modern-normalize, and tailwind preflight.
*/

@import url('styles/reset.css');
@import url('styles/sizing.css');
@import url('styles/layout.css');
@import url('styles/colors.css');
@import url('styles/utility.css');
